<div class="card-container text-bg-dark bg-dark bg-gradient">
    
    <div class="btn-options-container">
        <button class="btn-options" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <strong>:</strong>
        </button>
        <ul class="dropdown-menu dropdown-menu-dark">
            <button class="dropdown-item">Guardar en Playlist</button>
        </ul>
    </div>

    <img [src]="book.image || noImage" alt="Book Image" />

    <div class="card-body">
        <a href="#" class="book-title card-title">{{ book.title }}</a>
        <div class="">
            <button class="btn">
                <span class="badge badge-size text-bg-custom">
                    {{book.author.name}}
                </span>
            </button>
        </div>
    </div>
</div>