
img{
    /* max-width: 140px; */
    max-height: 240px;
    object-fit: contain;
    border-radius: 5%;
}

.card-container{
    border-radius: 2.5%;
}

/* Book */
.book-title{
    font-size: 15px;
    text-decoration: none;
}


/* Badge */
.badge-size{
    margin-top: 15px;
    /* margin-left: -20px;  */
    font-size: 12px;
}

.text-bg-custom{
    background-color: rgba(128, 128, 128, 0.11);
}

/*  */
