<div class="card-container text-bg-dark bg-dark bg-gradient">

    <span class="d-flex justify-content-end">
        <div class="dropdown">
            <button class="btn text-white" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown"
                aria-expanded="false">
                &#x22EE; <!-- Icono de 3 puntos -->
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="#">Agregar a Playlist</a></li>
            </ul>
        </div>
    </span>

    <img [src]="book.image || noImage" alt="Book Image" />

    <div class="card-body">
        <a href="#" class="book-title card-title">{{ book.title }}</a>
        <div class="">
            <button class="btn">
                <span class="badge badge-size text-bg-custom">
                    {{book.author.name}}
                </span>
            </button>
        </div>
    </div>
</div>