<div class="card text-center bg-success bg-gradient text-bg-dark" id="book-form">
    <div class="card-header">
        <h1>Crear y editar libros</h1>
        <div *ngIf="isUpdating">
            <h4>Estás en modo <span class="badge text-bg-primary">Edición</span></h4>
            <button (click)="cleanStates()" class="btn btn-danger" style="width: 100px;">Salir</button>
        </div>
    </div>
    <!-- Body -->
    <div class="card-body container-size m-auto">

        <div class="container" style="max-width: 500px;">
            <form class="row g-3 needs-validation" novalidate>
                <div class="col-md-4">
                    <label for="title" class="form-label">Título</label>
                    <input [(ngModel)]="book.title" type="text" name="title" class="form-control" id="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input [(ngModel)]="book.isbn" type="text" name="isbn" class="form-control" id="isbn" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="publishedDate" class="form-label">Fecha publicación</label>
                    <input [(ngModel)]="book.publishedDate" type="date" name="publishedDate" class="form-control"
                        id="publishedDate" aria-describedby="inputGroupPrepend" required>
                    <div class="invalid-feedback">
                        Seleccione una fecha
                    </div>
                </div>
                <div>
                    <label for="description" class="form-label">Descripción</label>
                    <textarea [(ngModel)]="book.description" name="description" class="form-control"
                        id="description"></textarea>
                </div>
                <div class="col-md-6">
                    <label for="image" class="form-label">Link imagen</label>
                    <input [(ngModel)]="book.image" type="text" name="image" class="form-control" id="image" required>
                    <div class="invalid-feedback">
                        Seleccione una imagen
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="authorName" class="form-label">Autor</label>
                    <select class="form-select" id="authorName" required>
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                    </select>
                    <div class="invalid-feedback">
                        Elige un autor y escribe su nombre.
                    </div>
                </div>
                <div class="col-md-3">
                    <label for="authorName" class="form-label">Autor nombre</label>
                    <input [(ngModel)]="book.authorName" type="text" name="autor" class="form-control" id="authorName"
                        required>
                    <div class="invalid-feedback">
                        Escribe un autor o eligelo.
                    </div>
                </div>
                <div class="col-12">
                    <button (click)="createOrUpdateBook()" class="btn btn-dark bg-gradient" type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer text-body-secondary">
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Título</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let b of books">
                    <td>{{b.id}}</td>
                    <td>{{b.title}}</td>
                    <td>{{b.isbn}}</td>
                    <td>
                        <button (click)="setEditable(b)" class="btn btn-secondary mr">Editar</button>
                        <button class="btn btn-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <button (click)="changePage(currentPage -1)" class="border-0 bg-secondary bg-gradient text-bg-dark page-link" href="#">
                Anterior
              </button>
            </li>
    
            <!-- Números paginación -->
            <li *ngFor="let page of totalPages; index as i" class="page-item">
              <button (click)="changePage(i)" [ngClass]="{'bg-black': currentPage == i, 'bg-dark': currentPage !== i}" class="border-0 bg-gradient text-bg-dark page-link" href="#">
                {{ i + 1 }}
              </button>
            </li>
    
            <li class="page-item">
              <button (click)="changePage(currentPage -1)" class="border-0 bg-secondary bg-gradient text-bg-dark page-link" href="#">
                Siguiente
              </button>
            </li>
          </ul>
        </nav>
    </div>
    <div class="card-footer text-body-secondary">

    </div>
</div>