<div class="card text-center bg-success bg-gradient text-bg-dark">
    <div class="card-header">
        Buscar Libros
    </div>
    <div class="card-header">
        <form class="d-flex" role="search">

            <div class="col-4"></div>

            <div class="col-4">
                <div class="row">
                    <input class="bg-dark text-bg-dark search-input form-control me-2" type="search"
                        placeholder="Buscar por título o autor">
                </div>
                <div class="d-flex flex-column align-items-start">
                    <div class="form-check">
                        <input type="checkbox" name="book-title" id="book-title" class="form-check-input mr">
                        <label class="form-check-label" for="book-title">Título</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="book-author" id="book-author" class="form-check-input mr">
                        <label class="form-check-label" for="book-author">Autor</label>
                    </div>
                </div>

            </div>

            <div class="col-4">
                <button class="btn bg-dark bg-gradient text-bg-dark" type="submit">Buscar</button>
            </div>

        </form>
    </div>
    <div class="card-body container-size m-auto">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div *ngFor="let b of books" class="col">
                <app-card-book [book]="b"></app-card-book>
            </div>
        </div>
    </div>
    <div class="card-footer text-body-secondary">

    </div>
</div>