
/* Card Image */
.card-img-size{
    width: 100px;
    margin: auto;
}

/* Badge */
.badge-size{
    margin-top: 15px;
    /* margin-left: -20px;  */
    font-size: 12px;
}

.text-bg-custom{
    background-color: rgba(128, 128, 128, 0.11);
}